<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WebSite</title>
    </head>
    <body>
        {{> header}}

        {{screamIt message}}

        {{>  footer}}
    </body>
</html>